extends layout

block content
  p(id="intro") Welcome to Guess the Wikipedia Title! This is a challenging but fun trivia game where you are given snippets of a random but popular Wikipedia article (one of the <a href="http://en.wikipedia.org/wiki/Wikipedia:5000">top 5000</a> visited pages of the month), and you have to use contextual clues and your prior knowledge to guess the title of the article. You get three hints and three tries: are you up for the challenge?
  p(id="loading", style="display: none") Your first hint is loading...
  button(id='start') Click to start
  form(id='game', action="http://localhost:3000/api/play", method="post")
    input(id='attempts', name='attempts', style='display: none', value='2')
    input(id='id', name='id', style='display: none', value='')
    div(id='hints')
    input(type='text', name='guess', id='guess', style='display: none')
    input(type='submit', id='submit', value='Submit guess', style='display: none')
  script(src='/javascripts/beginner.js')
