doctype html
html
  head
    title Wikipedia Guessing Game
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  body
    img(src="/images/banner.png")
    h1(id="headline") WikiGuesser - Guess the Wikipedia Title!
    block content

    footer
      p Wikipedia is licensed under the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a>. All the hints and content are by the editors of Wikipedia. This web app is likewise licensed under the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a>.