doctype html
html
  head
    title Wikipedia Guessing Game
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  body
    img(src="/images/banner.png")
    h1(id="headline") WikiGuesser - Guess the Wikipedia Title!
    block content