body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #EEEEEE;
  background-color: black;
}

a {
  color: #00B7FF;
}

#headline {
   align: center
}

button {
    font-size: 18px;
    border-radius: 5px;
}

#submit {
    font-size: 18px;
    border-radius: 5px;
}

#guess {
    font-size: 18px;
}

#champion {
    color: gold;
    font-size: 18px;
}
